In [ ]:
import pandas as pd
import numpy as np
x = np.array(['P', 'y', 't', 'h', 'o', 'n'])
array = pd.Series(x, index =[1, 2, 3, 4, 5, 6])
print(array)

1    P
2    y
3    t
4    h
5    o
6    n
dtype: object

In [ ]:
import pandas as pd
scalar = pd.Series(5, index =[1, 2, 3, 4, 5, 6, 7, 8, 9, 1])
print(scalar)

1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
1    5
dtype: int64

In [ ]:
import pandas as pd
my_dict = {'name': 'Akhil', 'age': 25}
dict = pd.Series(my_dict)
print(dict)

name    Akhil
age        25
dtype: object

In [ ]:
import numpy as np
import pandas as pd
marks_dict = {'English': 93, 'Hindi': 81, 'Maths': 95, 'Science': 73, 'Social': 60}
marks = pd.Series(marks_dict)
pd.DataFrame(marks, columns=['marks'])

         marks
English     93
Hindi       81
Maths       95
Science     73
Social      60

In [ ]:
import numpy as np
import pandas as pd
my_list = [{'a':12, 'b':14},{'b':52, 'c':641},{'d':6, 'a':84}]
pd.DataFrame(my_list)

      a     b      c    d
0  12.0  14.0    NaN  NaN
1   NaN  52.0  641.0  NaN
2  84.0   NaN    NaN  6.0

In [ ]:
import numpy as np
import pandas as pd
pd.DataFrame(np.array([[1,4], [2,5], [3,6]]), columns=['x', 'y'], index=['a', 'b', 'c'])

   x  y
a  1  4
b  2  5
c  3  6

In [ ]:
import numpy as np
import pandas as pd
X = ['A', 'B', 'C', 'D']
Y = [25, 45, 37, 19]
data = np.zeros(4, dtype=[('X', 'i8'), ('Y', 'f4')])
pd.DataFrame(data)

   X    Y
0  0  0.0
1  0  0.0
2  0  0.0
3  0  0.0

In [ ]:
import numpy as np
import pandas as pd
import os

In [ ]:
sales = pd.read_csv('Bigmart_sales.csv')
sales.head()

  Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0           FDW58       20.750  ...               Tier 1  Supermarket Type1
1           FDW14        8.300  ...               Tier 2  Supermarket Type1
2           NCN55       14.600  ...               Tier 3      Grocery Store
3           FDQ58        7.315  ...               Tier 2  Supermarket Type1
4           FDY38          NaN  ...               Tier 3  Supermarket Type3

[5 rows x 11 columns]

In [ ]:
sales.tail()

     Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
5676           FDB58         10.5  ...               Tier 1  Supermarket Type1
5677           FDD47          7.6  ...               Tier 3  Supermarket Type2
5678           NCO17         10.0  ...               Tier 2  Supermarket Type1
5679           FDJ26         15.3  ...               Tier 2  Supermarket Type1
5680           FDU37          9.5  ...               Tier 2  Supermarket Type1

[5 rows x 11 columns]

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [ ]:
sales.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

In [ ]:
sales.count()

Item_Identifier              5681
Item_Weight                  4705
Item_Fat_Content             5681
Item_Visibility              5681
Item_Type                    5681
Item_MRP                     5681
Outlet_Identifier            5681
Outlet_Establishment_Year    5681
Outlet_Size                  4075
Outlet_Location_Type         5681
Outlet_Type                  5681
dtype: int64

In [ ]:
sales.memory_usage()

Index                          128
Item_Identifier              45448
Item_Weight                  45448
Item_Fat_Content             45448
Item_Visibility              45448
Item_Type                    45448
Item_MRP                     45448
Outlet_Identifier            45448
Outlet_Establishment_Year    45448
Outlet_Size                  45448
Outlet_Location_Type         45448
Outlet_Type                  45448
dtype: int64

In [ ]:
sales.values

array([['FDW58', 20.75, 'Low Fat', ..., 'Medium', 'Tier 1',
        'Supermarket Type1'],
       ['FDW14', 8.3, 'reg', ..., nan, 'Tier 2', 'Supermarket Type1'],
       ['NCN55', 14.6, 'Low Fat', ..., nan, 'Tier 3', 'Grocery Store'],
       ...,
       ['NCO17', 10.0, 'Low Fat', ..., nan, 'Tier 2',
        'Supermarket Type1'],
       ['FDJ26', 15.3, 'Regular', ..., nan, 'Tier 2',
        'Supermarket Type1'],
       ['FDU37', 9.5, 'Regular', ..., nan, 'Tier 2', 'Supermarket Type1']],
      dtype=object)

In [ ]:
sales.ndim

2

In [ ]:
sales.size

62491

In [ ]:
sales.shape

(5681, 11)

In [ ]:
sales.index

RangeIndex(start=0, stop=5681, step=1)

In [ ]:
sales.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [ ]:
sales.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [ ]:
sales.copy()

     Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0              FDW58       20.750  ...               Tier 1  Supermarket Type1
1              FDW14        8.300  ...               Tier 2  Supermarket Type1
2              NCN55       14.600  ...               Tier 3      Grocery Store
3              FDQ58        7.315  ...               Tier 2  Supermarket Type1
4              FDY38          NaN  ...               Tier 3  Supermarket Type3
...              ...          ...  ...                  ...                ...
5676           FDB58       10.500  ...               Tier 1  Supermarket Type1
5677           FDD47        7.600  ...               Tier 3  Supermarket Type2
5678           NCO17       10.000  ...               Tier 2  Supermarket Type1
5679           FDJ26       15.300  ...               Tier 2  Supermarket Type1
5680           FDU37        9.500  ...               Tier 2  Supermarket Type1

[5681 rows x 11 columns]

In [ ]:
sales.at[1, 'Item_Weight']

8.3

In [ ]:
sales.iat[1, 3]

0.038427677

In [ ]:
sales.loc[1]

Item_Identifier                          FDW14
Item_Weight                                8.3
Item_Fat_Content                           reg
Item_Visibility                      0.0384277
Item_Type                                Dairy
Item_MRP                               87.3198
Outlet_Identifier                       OUT017
Outlet_Establishment_Year                 2007
Outlet_Size                                NaN
Outlet_Location_Type                    Tier 2
Outlet_Type                  Supermarket Type1
Name: 1, dtype: object

In [ ]:
sales.iloc[2]

Item_Identifier                      NCN55
Item_Weight                           14.6
Item_Fat_Content                   Low Fat
Item_Visibility                  0.0995749
Item_Type                           Others
Item_MRP                           241.754
Outlet_Identifier                   OUT010
Outlet_Establishment_Year             1998
Outlet_Size                            NaN
Outlet_Location_Type                Tier 3
Outlet_Type                  Grocery Store
Name: 2, dtype: object

In [ ]:
sales.select_dtypes(include ='float64')

      Item_Weight  Item_Visibility  Item_MRP
0          20.750         0.007565  107.8622
1           8.300         0.038428   87.3198
2          14.600         0.099575  241.7538
3           7.315         0.015388  155.0340
4             NaN         0.118599  234.2300
...           ...              ...       ...
5676       10.500         0.013496  141.3154
5677        7.600         0.142991  169.1448
5678       10.000         0.073529  118.7440
5679       15.300         0.000000  214.6218
5680        9.500         0.104720   79.7960

[5681 rows x 3 columns]

In [ ]:
sales.isna()

      Item_Identifier  Item_Weight  ...  Outlet_Location_Type  Outlet_Type
0               False        False  ...                 False        False
1               False        False  ...                 False        False
2               False        False  ...                 False        False
3               False        False  ...                 False        False
4               False         True  ...                 False        False
...               ...          ...  ...                   ...          ...
5676            False        False  ...                 False        False
5677            False        False  ...                 False        False
5678            False        False  ...                 False        False
5679            False        False  ...                 False        False
5680            False        False  ...                 False        False

[5681 rows x 11 columns]

In [ ]:
sales.fillna(0)

     Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0              FDW58       20.750  ...               Tier 1  Supermarket Type1
1              FDW14        8.300  ...               Tier 2  Supermarket Type1
2              NCN55       14.600  ...               Tier 3      Grocery Store
3              FDQ58        7.315  ...               Tier 2  Supermarket Type1
4              FDY38        0.000  ...               Tier 3  Supermarket Type3
...              ...          ...  ...                  ...                ...
5676           FDB58       10.500  ...               Tier 1  Supermarket Type1
5677           FDD47        7.600  ...               Tier 3  Supermarket Type2
5678           NCO17       10.000  ...               Tier 2  Supermarket Type1
5679           FDJ26       15.300  ...               Tier 2  Supermarket Type1
5680           FDU37        9.500  ...               Tier 2  Supermarket Type1

[5681 rows x 11 columns]

In [ ]:
sales.dropna()

     Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0              FDW58       20.750  ...               Tier 1  Supermarket Type1
5              FDH56        9.800  ...               Tier 1  Supermarket Type1
6              FDL48       19.350  ...               Tier 3  Supermarket Type2
13             FDU11        4.785  ...               Tier 1  Supermarket Type1
14             DRL59       16.750  ...               Tier 3  Supermarket Type1
...              ...          ...  ...                  ...                ...
5673           FDF46        7.070  ...               Tier 3  Supermarket Type2
5674           DRL35       15.700  ...               Tier 1  Supermarket Type1
5675           FDW46       13.000  ...               Tier 1  Supermarket Type1
5676           FDB58       10.500  ...               Tier 1  Supermarket Type1
5677           FDD47        7.600  ...               Tier 3  Supermarket Type2

[3099 rows x 11 columns]