In [ ]:
myDict = {}
myDict["key1"] = [1, 2]
myDict["key2"] = ["Geeks", "For", "Geeks"]
print(myDict)

{'key1': [1, 2], 'key2': ['Geeks', 'For', 'Geeks']}

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age'))
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)
print(marks)
for item in marks.items():
    print(item)
print(list(sorted(marks.keys())))

Jack
26
{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

In [ ]:
my_dict = {'name': 'Akhil', 'age': 25}
my_dict['age'] = 27
print(my_dict)
my_dict['address'] = 'Hyderabad'
print(my_dict)

{'name': 'Akhil', 'age': 27}
{'name': 'Akhil', 'age': 27, 'address': 'Hyderabad'}

In [ ]:
my_dict = {1, 3, 5, 7, 9}
print(my_dict.pop())
print(my_dict)
my_dict.clear()
print(my_dict)

1
{3, 5, 7, 9}
set()

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(squares.pop(4))
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}

In [ ]:
my_dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
for i in my_dict:
    print(my_dict[i])

1
4
9
16
25

In [ ]:
my_dict = {'a': 1, 'b': 2, 'y': 4}
my_dict.update(c = 3, z = 5)
print(my_dict)
print(len(my_dict))
print(sorted(my_dict))
my_dict.clear()
print(my_dict)

{'a': 1, 'b': 2, 'y': 4, 'c': 3, 'z': 5}
5
['a', 'b', 'c', 'y', 'z']
{}

In [ ]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{'Hello', 1.0, (1, 2, 3)}

In [ ]:
my_set = {1, 3, 4, 5, 6, 7, 8, 9, 10}
my_set.add(2)
print(my_set)
my_set.discard(4)
print(my_set)
my_set.remove(6)
print(my_set)
my_set.pop()
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 5, 7, 8, 9, 10}
{2, 3, 5, 7, 8, 9, 10}
set()

In [ ]:
A = {1, 2, 3, 4, 5, 6}
B = {3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A = {1, 2, 3, 4, 5, 6}
B = {3, 4, 5, 6, 7, 8}
print(A & B)

{3, 4, 5, 6}

In [ ]:
A = {1, 2, 3, 4, 5, 6}
B = {3, 4, 5, 6, 7, 8}
print(A - B)

{1, 2}

In [ ]:
A = {1, 2, 3, 4, 5, 6}
B = {3, 4, 5, 6, 7, 8}
print(A ^ B)

{1, 2, 7, 8}