In [ ]:
class Person:
    name = ""
    age = 0
    gender = ''

    def __init__(self, personName, personAge, personGender):
        self.name = personName
        self.age = personAge
        self.gender = personGender

    def showName(self):
        print(self.name)

    def showAge(self):
        print(self.age)

    def showGender(self):
        print(self.gender)

person1 = Person("Akhil", 25, 'Male')
person2 = Person("Rashi", 22, 'Female')
person1.showName()
person1.showAge()
person1.showGender()
person2.showName()
person2.showAge()
person2.showGender()

Akhil
25
Male
Rashi
22
Female

In [ ]:
import re
s ="asd4assd5and6aksd"
b = re.findall('a.d',s)
c = re.findall('a..d',s)
print(b)
print(c)

s ="asd4assd5and6aksd"
b = re.findall('^a.d',s)
print(b)

s ="asd4assd5and6aksd"
b = re.findall('a..d$',s)
print(b)

s ="asd4assd5and6aksd"
b = re.findall('a..d*',s)
print(b)

s ="asd4assd5and6aksd"
b = re.findall('a..d+',s)
print(b)

s ="asd4assd5and6aksd"
b = re.findall('a..d?',s)
print(b)

s ="asd4assd5and6aksd"
b = re.findall('alex{0,1}','asdhfalexx')
print(b)

s ="asd4assd5and6aksd"
b = re.findall('alex[ax]','asdhfalexx')
print(b)

s ="asd4assd5and6aksd"
b = re.findall('\+\?\*','asdhfalexx')
print(b)

s ="asd4assd5and6aksd"
b = re.findall('[a-z]+|[2-9]+','abcdefga')
print(b)

s ="asd4assd5and6aksd"
b = re.findall('ab*','abbb')
print(b)

['asd', 'and']
['assd', 'aksd']
['asd']
['aksd']
['asd', 'assd', 'and', 'aksd']
['assd', 'aksd']
['asd', 'assd', 'and', 'aksd']
['alex']
['alexx']
[]
['abcdefga']
['abbb']

In [ ]:
import re
txt = "Ria is 9 years old"
x = re.findall("\d", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['9']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall(r"ain\b", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [ ]:
import re
txt = "Baba baba black sheep"
x = re.findall("\D", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['B', 'a', 'b', 'a', ' ', 'b', 'a', 'b', 'a', ' ', 'b', 'l', 'a', 'c', 'k', ' ', 's', 'h', 'e', 'e', 'p']
Yes, there is at least one match!

In [ ]:
import re
txt = "Baba baba black sheep"
x = re.findall("\s", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [ ]:
import re
txt = "Baba baba black sheep"
x = re.findall("\S", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['B', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'l', 'a', 'c', 'k', 's', 'h', 'e', 'e', 'p']
Yes, there is at least one match!

In [ ]:
import re
txt = "Baba baba black sheep"
x = re.findall("\w", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['B', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'l', 'a', 'c', 'k', 's', 'h', 'e', 'e', 'p']
Yes, there is at least one match!

In [ ]:
import re
txt = "Baba baba black sheep"
x = re.findall("\W", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [ ]:
import re
txt = "That will be 59 dollars"
x = re.findall("\d", txt)
print(x)

['5', '9']

In [ ]:
import re
txt = "hello world"
x = re.findall("he..o", txt)
print(x)

['hello']

In [ ]:
import re
txt = "hello world"
x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [ ]:
import re
txt = "hello world"
x = re.findall("world$", txt)
if x:
  print("Yes, the string ends with 'world'")
else:
  print("No match")

Yes, the string ends with 'world'

In [ ]:
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("aix*", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ai', 'ai', 'ai', 'ai']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("ai+", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ai', 'ai', 'ai', 'ai']
Yes, there is at least one match!

In [ ]:
import re
txt = "hello world"
x = re.findall("hello?", txt)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("al{2}", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['all']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("falls|stays", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

In [ ]:
import re
txt = "Every moment is a fresh beginning"
x = re.findall("in", txt)
print(x)
y = re.findall("Portugal", txt)
print(y)

['in', 'in']
[]

In [ ]:
import re
txt = "Every moment is a fresh beginning"
x = re.search("\s", txt)
print("The first white-space character is located in position:", x.start())
y = re.search("Portugal", txt)
print(y)

The first white-space character is located in position: 5
None

In [ ]:
import re
txt = "Every moment is a fresh beginning"
x = re.split("\s", txt)
print(x)
y = re.split("\s", txt, 2)
print(y)

['Every', 'moment', 'is', 'a', 'fresh', 'beginning']
['Every', 'moment', 'is a fresh beginning']

In [ ]:
import re
txt = "Every moment is a fresh beginning"
x = re.sub("\s", "lovely", txt)
print(x)
y = re.sub("\s", "beautiful", txt, 1)
print(y)

Everylovelymomentlovelyislovelyalovelyfreshlovelybeginning
Everybeautifulmoment is a fresh beginning

In [ ]:
import re
txt = "Every moment is a fresh beginning"
x = re.search("in", txt)
print(x)

<_sre.SRE_Match object; span=(27, 29), match='in'>